<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.ribot.androidboilerplate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BazarlakeApplication"
        android:allowBackup="false"
        android:icon="@drawable/bazarlakbag"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:icon">
        <service android:name=".data.SyncService" />

        <receiver
            android:name=".data.SyncService$SyncOnConnectionAvailable"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.main_activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main_activity.MainActivity2" />

        <meta-data
            android:name="DATABASE"
            android:value="bazarlak.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="uk.co.ribot.androidboilerplate.data.model" />

        <activity android:name=".ui.category.subcategory.filter.FilterActivity" />
        <activity android:name=".ui.profile.your_profile.YourProfileFragment" />
        <activity android:name=".ui.profile.your_profile.ChangePasswordFragment" />
        <activity android:name=".ui.profile.your_profile.ChangeEmailFragment" />
        <activity android:name=".ui.profile.your_profile.AccountInfoFragment" />
        <activity
            android:name=".ui.profile.your_profile.PaymentDetailsActivity"
            android:label="@string/title_activity_payment_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profile.your_order.YourOrderActivity"
            android:label="@string/title_activity_your_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.bag.billing.OrderDoneActivity"></activity>
    </application>

</manifest>